
<!DOCTYPE html>
<html>
<head>
    <title>Smart Campus Service Portal</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">

        <a class="navbar-brand" href="/">
            Smart Campus Portal
        </a>

        <div>
            <a href="/" class="btn btn-light me-2">Home</a>
            <a href="/complaint/view/" class="btn btn-light me-2">Complaints</a>
            <a href="/leave/view/" class="btn btn-light">Leaves</a>
        </div>

    </div>
</nav>

<div class="container mt-5">

    <h1 class="text-center mb-4">Smart Campus Service Portal</h1>

    <div class="row">

        <div class="col-md-4">
            <div class="card text-center">
                <div class="card-body">
                    <h5>Total Complaints</h5>
                    <h2>{{ total_complaints }}</h2>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card text-center">
                <div class="card-body">
                    <h5>Pending Complaints</h5>
                    <h2>{{ pending_complaints }}</h2>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card text-center">
                <div class="card-body">
                    <h5>Resolved Complaints</h5>
                    <h2>{{ resolved_complaints }}</h2>
                </div>
            </div>
        </div>

    </div>

    <br>

    <div class="row">

        <div class="col-md-6">
            <div class="card text-center">
                <div class="card-body">
                    <h5>Total Leave Requests</h5>
                    <h2>{{ total_leaves }}</h2>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card text-center">
                <div class="card-body">
                    <h5>Approved Leaves</h5>
                    <h2>{{ approved_leaves }}</h2>
                </div>
            </div>
        </div>

    </div>

    <hr>

    <a href="/complaint/" class="btn btn-primary">Submit Complaint</a>

    <a href="/complaint/view/" class="btn btn-success">View Complaints</a>

    <a href="/leave/" class="btn btn-warning">Apply Leave</a>

    <a href="/leave/view/" class="btn btn-info">View Leave Requests</a>

</div>
<hr>



<footer class="text-center">

    <p>Smart Campus Service Portal © 2026</p>

</footer> 

</body>
</html>