
<!DOCTYPE html>
<html>
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <title>Leave Requests</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">

        <a class="navbar-brand" href="/">
            Smart Campus Portal
        </a>

        <div>
            <a href="/" class="btn btn-light me-2">Home</a>
            <a href="/complaint/view/" class="btn btn-light me-2">Complaints</a>
            <a href="/leave/view/" class="btn btn-light">Leaves</a>
        </div>

    </div>
</nav>
<div class="container mt-5">

<h2>All Leave Requests</h2>

<table border="1">
    <tr>
        <th>Reason</th>
        <th>From Date</th>
        <th>To Date</th>
        <th>Status</th>
    </tr>

    {% for leave in leaves %}
    <tr>
        <td>{{ leave.reason }}</td>
        <td>{{ leave.from_date }}</td>
        <td>{{ leave.to_date }}</td>
        <td>{{ leave.status }}</td>
    </tr>
    {% endfor %}

</table>

</div>
<hr>

<footer class="text-center">

    <p>Smart Campus Service Portal © 2026</p>

</footer> 
</body>
</html>